<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://iodbc.uda.openlinksw.com" version="1.0.2.1">
	<name>OpenLink HTML5 WebDB-to-ODBC Bridge</name>
	<description>Enables ODBC use by/through HTML5 WebDB Database interfaces.</description>
	<author href="http://uda.openlinksw.com">OpenLink Software</author>
	<icon src="icons/icon48.png"/>
	<access origin="*"/>
</widget>